<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ana Sayfa</title>
</head>

<body>
    <div class="text-center display-6">
        Etkinlik Yönetim Uygulaması Projesi
    </div>
    <div class="text-center display-6 m-5">
        Hoşgeldiniz
    </div>
    <center>
        <a class="btn btn-primary m-5" asp-controller="Users" asp-action="Index">
            Giriş Yap
        </a>
    </center>
</body>

</html>