<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ana Sayfa</title>
</head>

<body>
    <div class="text-center display-6">
        Etkinlik Yönetim Uygulaması Projesi
    </div>
    <div class="text-center display-6 m-5">
        Hoşgeldiniz
    </div>
    <center>
        @model LoginModel

        <div class="text-center my-5">
            <h6 class="display-6">
                Giriş
                @if (Model != null && Model.isUserCreated == true)
                {
                    <div class="text-success">
                        Kullanıcı Oluşturuldu
                    </div>
                }
            </h6>
        </div>

        <div class="row">
            <div class="col-md-3">

            </div>

            <div class="col-md-6 text-center">
                <div class="text-danger" asp-validation-summary="All"></div>

                <form method="post" asp-controller="Users" asp-action="Index">
                    <div class="form-group my-3">
                        <label asp-for="userEmail">E-Posta</label><br>
                        <input type="email" asp-for="userEmail">
                    </div>

                    <div class="form-group my-3">
                        <label asp-for="userPassword">Şifre</label><br>
                        <input type="password" asp-for="userPassword">
                    </div>

                    <button type="submit" class="btn btn-primary">Giriş Yap</button>
                </form>

                <div class="my-3">
                    <a class="btn btn-danger" asp-controller="Users" asp-action="Register">
                        <i class="fa-solid fa-user-plus"></i>
                        Kayıt Ol</a>
                </div>
            </div>

            <div class="col-md-3">

            </div>
        </div>
    </center>
</body>

</html>